[submodule "keyboards/zsa/moonlander/keymaps/xendak/sequence_transform"]
	path = keyboards/zsa/moonlander/keymaps/xendak/sequence_transform
	url = https://github.com/ikcelaks/qmk_sequence_transform.git
